.container {
    background-color: white;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    transition: 0.1s;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.16);
}

.clickable:active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) inset;
}
