.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
}

.content {
    text-align: justify;
    margin-top: 1rem;
}
