.label {
    width: 200px;
    display: block;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #64D701;

    text-align: center;
    font-size: 1.25rem;
    color: white;

    cursor: pointer;
    transition: 0.1s;
}

.label:hover {
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.16);
}

.label:active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) inset;
}

.input {
    display: none;
}
