.container {
    background-color: #232442;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 1.75rem;
}

.titleLink {
    text-decoration: none;
    color: white;
}